{% load static%}

<!doctype html>
<html lang="pt-br">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <!--PUT THE FAVICO-->
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
    <title>Login</title>
  </head>
  <body style="background-color:black;">
  <!--STARTNAVBAR-->
    {% include 'registration/navbar.html'%}
    <!--ENDNAVBAR-->
    <!--LOGIN FORM-->
    <div class="container-fluid">
    
      {% include 'registration/snippet.html' %}
      {% include 'registration/footer.html' %}
      <!--END LOGIN FORM-->
    </div>
    
    <!--JAVA SCRIPT-->
    <script src="{% static 'js/bootstrap.js'%}"></script>
    <!----->
  </body>
</html>
