{% load static %}
{% load crispy_forms_tags %}

<div class="container-sm">
    <h1 class="text-center my-2 text-danger">Editar Informações:</h1>
    <form action="." method="post" class="row justify-content-center" enctype="multipart/form-data">
    {% csrf_token %}
    <h2 class="text-center my-2">Informações de identificação</h2>
    <div class="w-50">
      {{form.email|as_crispy_field}}
      {{form.nome_empresa|as_crispy_field}}

      {% if messages %}

            {% for message in messages %}
            <div class="alert alert-danger" role="alert">
              {{message}}
            </div>
            {% endfor %}

      {% endif %}
    <div class="text-center mb-2 mt-4">
      <input type="submit" value="Salvar" class="btn btn-primary">
    <div>
    <h2 class="mt-4 text-center">Alteração de senha: </h2>
      <div class="row justify-content-center">
        <a class="text-center text-danger" href="/auth/user/password_change/">Editar Senha de usuário</a>
      </div>
    </form>
  </div>
  </div>