{% load static %}
<!doctype html>
<html lang="pt-br">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="{% static 'css/main.css' %}" rel="stylesheet">

    <title>Ficha técnica</title>
  </head>
  <body class="bg-dark">
    {% if status == "y" %}
      {% include 'ficha_tecnica/navbars/navbar_index.html' %}
      <div class="container text-light">
        {% if pratos  %}
          <h2 class="text-center my-2 text-danger">Meus pratos: </h2>
          <div class="row justify-content-center my-4">
            <!--DISTRIBUIR PRATOS NA COMO UMA MATRIZ-->
            {% for prato in pratos %}
              <div class="card mx-1 my-1" style="width: 18rem; background-color:rgb(7, 7, 7);">
                <div class="card-body text-center">
                  <h5 class="card-title text-primary">{{prato.nome_do_prato}}</h5>
                  <div class="d-flex justify-content-md-center">
                    <a href="visualizar_prato/{{prato.id}}" class="btn btn-primary mx-1">Visualizar</a>
                    <div class="dropdown mx-1">
                      <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        Editar
                      </button>
                      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1" style="background-color: black;">
                        <li><a class="dropdown-item bg-success" href="/editar_prato/{{prato.id}}/" style="color:black;">Alterar prato</a></li>
                        <li><a class="dropdown-item bg-danger" href="/remover_prato/{{prato.id}}/" style="color:black;">Deletar prato</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %} 
        </div>
        <div class="text-center">
          <a href="adicionar_prato/" class="btn btn-success">Adicionar prato</a>
        </div>
        {% else %}
        <div class="container-fluid text-center w-75">
          <h3 class="text-center my-2">Você não possui nenhum prato, clique para adicionar!</h3>
          <a href="adicionar_prato/" class="btn btn-success">Adicionar prato</a>
        </div>
        {% include 'user/footers/fixed.html'%}
        {% endif %}
    {% else %}
      {% include 'ficha_tecnica/navbars/navbar_not_logged.html' %}
        <div class="container text-light bg-dark" style="max-width: 500px;" >
          <h1 class="text-center my-2 text-light">My admin:</h1>
          <h3 class="text-center text-success">Gerencie melhor sua produção e maximize seus lucros!</h3>
          <p class="text-center my-2 text-light">My admin é uma aplicação de ficha técnica, a mesma é utilizada com a finalidade de exibir coisas que antes não eram percebidas: <br>
          como o valor gasto para produzir determinado prato, o lucro e a margem de lucro em cima do mesmo produto.</p>
          <h3 class="text-center text-success">Como o My admin faz isso? </h3>
          <p class="text-center my-2 text-light">O my admin faz isso através de calculos, funciona como uma planilha... <br>
          Você insere os ingredientes, o valor e a quantidade gastas (dos mesmos) e a partir daí são realizados os cálculos dos seus rendimentos sobre um determinado prato ou produto.</p>
          <h3 class="text-center my-2 text-success">Quero usar o My admin: </h3>
          <div class="container-sm text-center text-light">
            <a href="auth/" type="button" class="btn btn-primary my-2">Cadastrar</a>
            <br>
            Caso já seja usuário, clique no botão abaixo: 
            <br>
            <a href="auth/user/login" type="button" class="btn btn-success my-2">Login</a>
          </div>
        </div>
      {% include 'user/footers/responsive.html' %}
    {% endif %}
   
    <!--PRATOS-->
    
    </div>
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="{% static 'js/bootstrap.js'%}"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
   <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" ></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
  </body>
</html>
