{%load static%}
{% load crispy_forms_tags %}

<!doctype html>
<html lang="pt-br">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
    <!-- Bootstrap CSS -->
    
    <title>Editar usuário</title>
  </head>
  <body class="bg-dark">
  <!--NAVBAR-->
  {% include 'user/user_navbars/user_edit_base.html'%}
  <!--FORM-->
  {% include 'user/snippets/user_snippet_edit.html' %}
  <!--END FORM-->
  {% include 'user/footers/responsive.html' %}
  <!-- Copyright -->
    <!--JAVA SCRIPT-->
    <script src="{% static 'js/bootstrap.js'%}"></script>
    <!----->
  </body>
</html>
